/* CSS for about.html */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  background-color: seagreen;
}
p1{
  text-align: center;
  font-size: 25px;
  margin: 3px;
  color: white;
}
p2{
  text-align: center;
  font-size: 25px;;
  float: left;
  color:  white;
}

header {
  background-color: #007bff;
  padding: 20px;
}

h2{
  color: white;
}
 footer {
  background-color: grey;
  text-align: center;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  background-color: #0069d9;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}